
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,nav{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display:-webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 25px 100px 0;
}
header h2,nav{
    text-transform: uppercase;
}
header nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
header nav li{
    margin: 0 15px;
}
header nav li:first-child{
    margin-left: 0 ;
}
header nav li:last-child{
    margin-right: 0 ;
}
 .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media (max-width:1000px) {
    header{
        padding: 20px 50px;
    }
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li{
        margin: 0 7px;
    }
}
  .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
   .social_box a:hover {
    color: #be2623;
    border-color: #be2623;
  }
  /*image header section*/
section{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 110px 100px;
}
@media (max-width:1000px) {
    section{
        padding: 150px 50px;
    }
}
@media (max-width:600px) {
  section{
      padding: 145px 30px;
  }
}

.banner_area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
.banner_area .banner_img{
    background-image: url('../images/1.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size:cover;
    background-size: cover;
    z-index: -1;
    padding: 200px 0;
}
.banner_area .banner_img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}   
.banner_area h1{
    margin-bottom: 15px;
    font-size: 65px;
}
.banner_area h3{
    margin-bottom: 40px;
}
.banner_area a.banner_btn{
    display: inline-block;
    padding: 10px 45px;
    background-color: blue;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0e3746;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.banner_area a.banner_btn:hover{
    background: rgb(215, 215, 223);
    color: darkblue;
}
/*about area*/

ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-content li{
    background-clip: content-box;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
}
.about-left{
    flex-basis:40% ;
    background-image:url(../images/2.jpg) ;
}
.about-right{
    flex-basis:60% ;
}
.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 25px;
}
.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}
.about-right h2{
    margin-bottom: 3%;
    margin-left: 3%;
}
.about-btn{
    display: inline-block;
    padding: 10px 45px;
    background-color: #0e3746;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0e3746;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-left: 5%;
}
.about-btn:hover{
    background: darkblue;
    color: #fff;
}
@media (max-width:1000px) {
    .about-left,.about-right{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
}

.asan_section .box {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .asan_section .box .img-box {
    background-color: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 125px;
    min-width: 125px;
    height: 125px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 100%;
  }
  
  .asan_section .box .img-box img {
    max-width: 100px;
    max-height: 75px;
  }
  
  .asan_section .box .detail-box {
    margin-top: 15px;
  }
  
  .asan_section .box .detail-box h5 {
    font-weight: bold;
  }
  
  .asan_section .box:hover .img-box {
    background-color: #be2623;
  }
  
  .asan_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  
  .asan_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #0e3746;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0e3746;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .asan_section .btn-box a:hover {
    background-color: transparent;
    color: #0e3746;
  }
  .contact_section {
    position: relative;
  }
  
  .contact_section .heading_container {
    margin-bottom: 25px;
  }
  
  .contact_section .heading_container h2 {
    text-transform: uppercase;
  }
  
  .contact_section .form_container input {
    width: 100%;
    border: 1px solid #ccc;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    outline: none;
    color: #101010;
    border-radius: 5px;
  }
  
  .contact_section .form_container input::-webkit-input-placeholder {
    color: #0e3746;
  }
  
  .contact_section .form_container input:-ms-input-placeholder {
    color: #0e3746;
  }
  
  .contact_section .form_container input::-ms-input-placeholder {
    color: #0e3746;
  }
  
  .contact_section .form_container input::placeholder {
    color: #0e3746;
  }
  
  .contact_section .form_container input.message-box {
    height: 120px;
    border-radius: 5px;
  }
  
  .contact_section .form_container button {
    border: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 12px 55px;
    background-color: #be2623;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #be2623;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .contact_section .form_container button:hover {
    background-color: transparent;
    color: #be2623;
  }
  
  .contact_section .map_container {
    height: 100%;
    min-height: 375px;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
  
  .contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .contact_section .map_container .map #googleMap {
    height: 100%;
  }
  .info_section {
    background-color: #091f27;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  .info_section .row > div {
    margin-bottom: 35px;
  }
  
  .info_section .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .info_section .contact_nav a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .info_section .contact_nav a i {
    font-size: 22px;
    margin-right: 10px;
  }
  
  .info_section .contact_nav a:hover {
    color: #be2623;
  }
  
  .info_section .info_top {
    padding: 45px 0;
  }
  
  .info_section h4 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .info_section .social_box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  
  .info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .info_section .social_box a:hover {
    color: #be2623;
    border-color: #be2623;
  }
  
  .info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
    border-radius: 5px;
  }
  
  .info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #be2623;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #be2623;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .info_section .info_form button:hover {
    background-color: transparent;
    color: #be2623;
  }
  
  /* footer section*/
  .footer_section {
    position: relative;
    text-align: center;
  }
  
  .footer_section p {
    color: #000000;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }